.cpnSpinner {
  display: flex;
  flex-direction: row;
  position: relative;
}
.cpnSpinner .spinner {
  width: var(--global-bigPadding);
  height: var(--global-bigPadding);
  position: relative;
  border-radius: 50%;
  overflow: visible;
  margin-top: var(--global-smallPadding);
  margin-bottom: var(--global-smallPadding);
  margin-left: auto;
  margin-right: auto;
  animation: spin 10s linear infinite;
  will-change: transform;
}
.cpnSpinner .spinner:before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-width: calc(var(--global-smallPadding) / 3);
  border-style: solid;
  border-color: black;
  border-radius: var(--global-bigPadding);
}
.cpnSpinner .spinner .circle {
  border-width: calc(var(--global-smallPadding) / 3);
  border-style: solid;
  border-color: black;
  width: var(--global-bigPadding);
  height: var(--global-bigPadding);
  border-radius: var(--global-bigPadding);
}
.cpnSpinner .spinner .rightWrapper {
  right: 0px;
  position: absolute;
  top: 0px;
  overflow: hidden;
  width: calc(var(--global-bigPadding) / 2);
  height: var(--global-bigPadding);
}
.cpnSpinner .spinner .leftWrapper {
  left: 0px;
  position: absolute;
  top: 0px;
  overflow: hidden;
  width: calc(var(--global-bigPadding) / 2);
  height: var(--global-bigPadding);
}
.cpnSpinner .spinner .left {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  width: calc(var(--global-bigPadding) / 2);
  height: var(--global-bigPadding);
  transform-origin: 100% 50%;
  animation: spinLeft 2.5s cubic-bezier(0.2, 0, 0.8, 1) infinite;
}
.cpnSpinner .spinner .right {
  position: absolute;
  left: calc((var(--global-bigPadding) / 2) * -1);
  top: 0px;
  overflow: hidden;
  width: calc(var(--global-bigPadding) / 2);
  height: var(--global-bigPadding);
  transform-origin: 100% 50%;
  animation: spinRight 2.5s cubic-bezier(0.2, 0, 0.8, 1) infinite;
}
.cpnSpinner .player {
  width: calc(var(--global-bigPadding) * 2);
  height: calc(var(--global-bigPadding) * 2);
  position: relative;
  border-radius: 50%;
  overflow: visible;
  margin: var(--global-smallPadding) auto;
}
.cpnSpinner .player:hover {
  opacity: 0.8;
}
.cpnSpinner .player-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: var(--global-fontFamily);
  font-weight: var(--global-fontWeight);
  font-size: var(--global-fontSize);
}
.cpnSpinner .left-side {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 50%;
  border-width: calc(var(--global-smallPadding) / 3);
  border-style: solid;
  border-color: black;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
}
.cpnSpinner .right-side {
  transform: rotate(45deg);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-radius: 50%;
  border-width: calc(var(--global-smallPadding) / 3);
  border-style: solid;
  border-color: black;
  border-left-color: black;
  border-bottom-color: black;
}
.cpnSpinner .fill {
  border-color: transparent;
  border-left-color: black;
  border-bottom-color: black;
}
@keyframes spinLeft {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(160deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@keyframes spinRight {
  0% {
    transform: rotate(160deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(160deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2520deg);
  }
}
